<footer class="footer">
    <div class="foot">
        <div class="f-social">
            <a href="https://www.facebook.com/ritansh.murarka/"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/_priyansh_003/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/priyansh-murarka-071690289/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="company_name">&copy Tripzone Private Limited</div>
        <div class="f-link">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>